<h1 class='container'>All People</h1>

<div class='container'>
    <h4>Search For People</h4>
    <%= form_tag(people_search_path, :method => 'get') do %>
        First Name: <%= search_field_tag(:search, params[:search], :class => "form-control input", :placeholder => "Darth") %>
        <br>
        <%= submit_tag ("Search"), :class => "btn btn-outline-secondary" %>
    <% end %>
</div>
<br>
<table class="table">
    <thead>
            <tr>                
                <th><%= link_to "First Name", :sort => "first_name" %></th>
                <th><%= link_to "Last Name", :sort => "last_name" %></th> 
                <th>Location</th>           
                <th>Species</th>
                <th>Gender</th>
                <th>Affiliation</th>
                <th>Weapon</th>
                <th>Vehicle</th>      
            </tr>
    </thead>

    <tbody>
        <% @people.each do |person| %>
            <tr>                
                <td><%=  person.first_name.titleize %>
                </td>
                <td><% if person.last_name.present?%> 
                    <%= person.last_name %>
                <% end%>
                </td>
                <td><% if person.location_id.present?%> 
                    <%= person.location.title.titleize %>
                <% end%>
                </td>                
                <td><% if person.species.present?%>     
                    <%= person.species %>
                <% end%>
                </td>
                <td><% if person.gender.present?%> 
                    <%= person.gender %>
                <% end%>
                </td>
                <td><% if person.affiliation_id.present?%> 
                    <%= person.affiliation.title %>
                <% end%>
                </td>
                <td><% if person.weapon.present?%> 
                    <%= person.weapon %>
                <% end%>
                </td>
                <td><% if person.vehicle.present?%> 
                    <%= person.vehicle %>
                <% end%>
                </td>
                                                   
            </tr>
            
        <% end %>
    <tbody>
    <%= will_paginate(@people) %>
</table>


<br>
<br>
<%= link_to "Click Here", new_person_path %> to create a new person